


/*VazirNumberFont*/
@font-face {
  font-family: 'vazir';
  src:url('../assets/fonts/vaziri/Vazir-Medium-FD.ttf') format('truetype'), /* Saf3—5, Chrome4+, FF3.5, Opera 10+ */
  url('../assets/fonts/vaziri/Vazir-Medium-FD.eot') format('eot'), /* IE6–8 */
  url('../assets/fonts/vaziri/Vazir-Medium-FD.woff') format('woff'); /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
}

@font-face {
  font-family: Vazir;
  src: url('../assets/fonts/vaziri/Vazir-Bold.eot');
  src: url('../assets/fonts/vaziri/Vazir-Bold.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/vaziri/Vazir-Bold.woff2') format('woff2'),
       url('../assets/fonts/vaziri/Vazir-Bold.woff') format('woff'),
       url('../assets/fonts/vaziri/Vazir-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url('../assets/fonts/vaziri/Vazir-Black.eot');
  src: url('../assets/fonts/vaziri/Vazir-Black.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/vaziri/Vazir-Black.woff2') format('woff2'),
       url('../assets/fonts/vaziri/Vazir-Black.woff') format('woff'),
       url('../assets/fonts/vaziri/Vazir-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url('../assets/fonts/vaziri/Vazir-Medium.eot');
  src: url('../assets/fonts/vaziri/Vazir-Medium.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/vaziri/Vazir-Medium.woff2') format('woff2'),
       url('../assets/fonts/vaziri/Vazir-Medium.woff') format('woff'),
       url('../assets/fonts/vaziri/Vazir-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url('../assets/fonts/vaziri/Vazir-Light.eot');
  src: url('../assets/fonts/vaziri/Vazir-Light.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/vaziri/Vazir-Light.woff2') format('woff2'),
       url('../assets/fonts/vaziri/Vazir-Light.woff') format('woff'),
       url('../assets/fonts/vaziri/Vazir-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: Vazir;
  src: url('../assets/fonts/vaziri/Vazir-Thin.eot');
  src: url('../assets/fonts/vaziri/Vazir-Thin.eot?#iefix') format('embedded-opentype'),
       url('../assets/fonts/vaziri/Vazir-Thin.woff2') format('woff2'),
       url('../assets/fonts/vaziri/Vazir-Thin.woff') format('woff'),
       url('../assets/fonts/vaziri/Vazir-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

* {
  font-family: vazir !important;
  font-weight: 300 !important;
  font-style: normal;
  font-size: small;
}

/* body, html {
  font-family: vazir !important;
  
} */
