@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


::-webkit-scrollbar-track {
  background: #f1f1f1;
  /* رنگ پس‌زمینه نوار اسکرول */
  border-radius: 10px;
  /* شعاع گوشه‌ها */
}

::-webkit-scrollbar-thumb {
  background: #888;
  /* رنگ نوار اسکرول */
  border-radius: 10px;
  /* شعاع گوشه‌ها */
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
  /* رنگ نوار اسکرول در حالت هاور */
}

.text-align-end{
text-align:end !important; 
}

.muirtl-1n64csd-MuiNotchedOutlined-root{
  padding-left: 0 !important;
}
legend {
  /* padding-left: 5px !important; */
  /* padding-right: 5px; */
  /* color: #4040cd; */
  font-size: small;
}

.muirtl-13meb6w-MuiInputBase-input-MuiOutlinedInput-input:-webkit-autofill{
  background-color: initial !important;
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}

.MuiFormHelperText-root {
  direction: rtl !important;
  text-align: right !important;
  margin-top: 0 !important;
  margin-right: 5px !important;
}